.Landing {
    text-align: center;
  }
.btn_home{
    text-decoration: none;
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
  #conf_updates {
    display: none;
  }
  #conf_updates_sm{
    display: block;
  }
}

